:root {
    --purple-light: #8257E6;

    --white:#FEFBFB;
    --white-200: #C4C4C4;

    --gray-200: #282830;

    --dark: #13131F;

    --font-one: 'Lexend Deca', sans-serif;
    --font-two: 'Inter', sans-serif;
}